* {box-sizing: border-box}

/* background color for Navigation bar */
.centralnavbar {
    position: fixed;
    background-color: #BC8A4F;
    overflow: hidden;
    top: 5px;
    width: 100%;
}

/* styling of each button on the navigation bar */
.centralnavbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 50px;
}

/* highlighting effect when hovering over with cursor on the navigation bar */
.centralnavbar a:hover {
    background-color: #976123;
    color:ivory;
}

/* positioning of Central Bun Bun Bake Shop Button on the navigation bar */
.centralnavbar-centered a{
    float: none;
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
}
/* text color of "Bun Bun Bake Shop on the navigation bar */
#bunbunbakeshop1{
    color:rgb(247, 63, 63);
    text-shadow: 3px 0px black;
}

/* positioning of right buttons (Menu and Cart) on the navigation bar */
.centralnavbar-right {
    float: right;
}

/* size of cart icon on the navigation bar */
#cart-icon {
    height: 60px;
    width: 60px;
}

/* Tab for informing on the reponses to COVID-19 */
.covidtab {
    position: fixed;
    background-color:#FFE602;
    color:black;
    top: 105px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

/* home page*/
.centralbanner{
    background-color: blanchedalmond;
    margin-top:auto;
    text-align: center;
    padding: 150px 0;
    font-size: 35px;
}

/* text color of "Bun Bun Bake Shop" on Home page*/
#bunbunbakeshop2{
    color:rgb(247, 63, 63);
    text-shadow: 3px 0px black;
    font-size: 80px;
}
/* Picture of cinnamon buns */
.picture{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 8px solid rgba(0, 0, 0, 0.8);
}

/* Today's Special Button */
.button{
    padding: 5px 10px;
    font-size: 30px;
}
/* Address input field */
.Address input{
    font-size: 30px;
}

  