/* items on the original detail page */
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: quantity;}
.item4 { grid-area: glazing; }
.item5 { grid-area: ingredient; }
.item6 { grid-area: total; }
.item7 { grid-area: Add; }
.item8 { grid-area: button1; }
.item9 { grid-area: button2; }
.item10 { grid-area: button3; }
.item11 { grid-area: button4; }
.item12 { grid-area: button5; }
.item13 { grid-area: button6; }
.item14 { grid-area: button7; }
.item15 { grid-area: button8; }

/* formatiing the item in places*/
.menugrid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header header'
        '. menu . . quantity . .'
        '. menu button1 button2 button3 button4 .'
        '. menu . . glazing . .'
        '. . button5 button6 button7 button8 .'
        '. ingredient ingredient . . total total'
        '. . . . . Add Add';
    grid-gap: 10px;
    background-color:blanchedalmond;
    padding: 6% 0;
}
.menugrid-container > div {
    background-color: blanchedalmond;
    text-align: center;
    padding: auto;
    font-size: 15px;
    width: 100%;
}

/* Button Design for Quantity and Glazing Types*/
.button {
    background-color: #ce934f;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 30px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* Cart Button Design*/
 .cartbutton {
    background-color: yellow;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 15px 10px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 12px;
 }
