/* formatting and placement of items on the grid */
.cartgrid-container {
    display: grid;
    grid-template-columns: 22% auto auto 40%;
    background-color: blanchedalmond;
    padding: 8% 0;
  }
.cartgrid-item {
    background-color: blanchedalmond;
        /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
/* pictures of items that is added to the cart page*/
.cartpicture{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 0px solid rgba(0, 0, 0, 0.8);
}
/* quantity times the price of the buns*/
.quantitycartgrid-item {
    background-color: blanchedalmond;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 30px 30;
    font-size: 20px;
    text-align: center;
    margin-top: 30%;
}
/* email input field */
.email-input{
    font-size: 25px;
}
/* Design for checkout button for Credit or Debit*/
.cardbutton{
    background-color: #ce934f;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
}
.cardbutton:hover {
    background-color: white;
}
/* Design for Go Back button*/
.backbutton{
    background-color: #a09e9e;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
}
.backbutton:hover {
    background-color: white;
}

#bt{
    height: 50%;
    width: 50%;
}
